<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates, dolores illum nihil voluptas dignissimos dicta similique eligendi assumenda accusantium! Pariatur illum molestiae cum corrupti dignissimos exercitationem eaque consequatur neque sunt. Fugit odit eligendi corrupti modi. Harum voluptate omnis ad neque?</p>
    </div>
</div>